html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .theme-light {
    --accent-color: #EEEEEE;
	--accent-color-text: #707070;
	--light-accent-color-text: #919191;
	--hero-color: #6AC1E6;
	--light-text: #FFFFFF;
  }
  .theme-dark {
    --accent-color: #243133;
	--accent-color-text: #FFFFFF;
	--light-accent-color-text: #12cdea;
	--hero-color: #17ed90;
	--light-text: #FFFFFF;
  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--hero-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container h1 {
    color: var(--font-color);
  }
  .container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
