body {
  width: 100%;
  margin:0px;
  height:1000em;
  font-family: 'Ubuntu', sans-serif;
}
nav {
  display: inline-block;
  width: 25%;
  position: fixed;
  top: 0px;
  height: 100%;
  overflow: hidden;
  background: #EEEEEE;
  color: #707070;
}
ul {
  width: 95%;
	padding: 2.5%;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
}
li {
  display: block;
  color: #707070;
  width: 90%;
  padding: 5%;
  border-left: 2px solid #C7C7C7;
  transition: .2s
}
li:hover {
  background: #c7c7c7;
  border-left: 4px solid #919191;
  transition: .2s;

}
a {
  text-decoration: none;
  color: #707070;
}
section {
  display:block;
  font-size: 18px;
  width: 70%;
  padding: 2.5%;
  float: right;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}
.question {
  width: 90%;
  padding: 1% 5%;
  border: 2px solid #eee;
  color: #707070;
  margin-bottom: 1em;
  display: inline-block;
  line-height: 1.4em;
}
.Title {
  width: 90%;
  padding: 5%;
  padding-top: -100px; 
  border: 2px solid #6AC1E6;
  color: #FFFFFF;
  background: #6AC1E6;
  margin-bottom: 1em;
  display: inline-block;
  line-height: 1.4em;
}
label {
	display: inline-block;
	width: 100%;
	line-height: 2em;
	clone:
}
#submit {
	width:90%;
	background: #6AC1E6;
	padding: 5%;
	color: #fff;
	line-height: 2em;
}
button {
  background: #6AC1E6;
  border: 1px solid #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
  color: #FFFFFF;
}
.quiz-msg {
  padding: 0.5em;
  margin-top: 1em;
}
.quiz-msg.correct {
  background: #e8ffc6;
}
.quiz-msg.incorrect {
  background: #ffe5cc;
}

.correct {
  background: green;
  padding: 0.2em;
}




/* - \/ Tool Tips pop up \/ - */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  opacity: .9;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
		
		
		
@media only screen and (max-width : 960px ){
	section {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media only screen and (max-width : 650px ){
	section {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}
